body{
    margin: 0;
    color: white;
    font-family: sans-serif;
}
.hashtag-header{
    background-color: #065FD4;
   padding: 4rem;
    color: white;
    background-image: url(/images/background.png);
    background-size: 260px;
    background-repeat: no-repeat;
    background-position-x:100% ;
    background-position-y: -160px;
}

h1{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 4em;
}

span{
    font-size: 2rem;
}

.hashtag-header img{
    width: 5rem;
    height: 5rem;
    border: 5px solid white;
    border-radius: 100%;
    vertical-align: middle;
}

img + img {  /* sibling slector */
     
margin-left: -1rem;
}